{% extends 'base.html.twig' %}

{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class="row d-flex justify-content-center">
    <div class="col-3">
        <h1>Register</h1>

        {{ form_start(registrationForm) }}
            <div class="d-flex justify-content-between">
                {{ form_row(registrationForm.lastname) }}
                {{ form_row(registrationForm.firstname) }}
            </div>
            {{ form_row(registrationForm.phoneNumber) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}

            <div class="form-group d-flex flex-column justify-content-start">
                <button class="btn btn-success form-input">Register</button>
            </div>
        {{ form_end(registrationForm) }}
        <p class="p-2">You already have an account. <a href="{{ path('login') }}">Login</a></p>
    </div>
</div>
{% endblock %}
