{% extends 'base.html.twig' %}

{% block body %}
<div class="row d-flex justify-content-center">
    <div class="col-4">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <p>Mes listes de courses</p>
            </div>
            <div class="card-body">
                <a class="d-flex justify-content-center" href="{{ path('shopping_list') }}">
                    <img src={{ asset('img/plusIcon.jpg') }} alt="plus icon"/> {# je sais pas why, faut en mettre pls pour centrer :/ #}
                </a>
                {% for shoppingList in requestedDeliveries %}
                    <a href = {{path('shopping_details', {'id': shoppingList.id}) }} class="card-text d-flex justify-content-between mb-2 {{ shoppingList.isDelivered ? 'bg-success text-white' : 'bg-warning text-dark' }}">
                        <p>Commande du {{ shoppingList.createdAt|date('Y-m-d') }}</p>
                        <p>Statut : {{ shoppingList.isDelivered ? 'Livrée' : 'En attente' }}</p>
                        <p>{{ shoppingList.totalPrice }} €</p>
                    </a>
                {% endfor %}
            </div>
            <div class="d-flex justify-content-between card-footer ">
                {% if requestedDeliveries is not null %}<p>Total de courses passées : {{ requestedDeliveries|length }}</p>{% endif %}
            </div>
        </div>
    </div>
    
    <div class="col-4">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <p>Mes livraisons de courses</p>
            </div>
            <div class="card-body">
                <a class="d-flex justify-content-center" href="{{ path('delivery_finder') }}">
                    <img src={{ asset('img/plusIcon.jpg') }} alt="plus icon"/> {# je sais pas why, faut en mettre pls pour centrer :/ #}
                </a>
                {% for delivery in deliveries %}
                    <a href = {{path('delivery_details', {'id': delivery.id}) }} class="card-text d-flex justify-content-between mb-2 {{ delivery.isComplete() ? 'bg-success text-white' : 'bg-warning text-dark' }}">
                        <p>livraison du {{ delivery.getDeliveryDate() }}</p>
                        <p>Statut : {{ delivery.isComplete() ? 'Validée' : 'En attente' }}</p>
                    </a>
                {% endfor %}
            </div>
            <div class="d-flex justify-content-between card-footer ">
                {% if deliveries is not null %}<p>Total de livraisons effectuées : {{ deliveries|length }}</p>{% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}